@import url(https://db.onlinewebfonts.com/c/879269be836bf8d970d4ef4fb0e54f42?family=GT+America+Extended+Regular);
@import url(https://db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=SaolDisplay-Regular);
:root {
    --text-color: black;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    font-family: "GT America Extended Regular", Arial, sans-serif;
}
body * {
    
}
nav {
    padding-top: 15px;
    padding-bottom: 3px;
    margin: 0 210px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}
#instagram-logo {
    display: flex;
    justify-content: center;
}
[name="logo-instagram"] {
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 6px;
}
[name="logo-instagram"]:hover{
    margin-top: 3px;
    transition: 0.1s;
}
#nav-text {
    display: flex;
    flex-direction: column;
}
#nav-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
#nav-logo img {
    border-radius: 50%;
    width: 60px;
}
#nav-logo p {
    color: rgb(0, 0, 0);
    text-align: center;
}
#nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav-links .linknav {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
#nav-links .linknav:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: 5s all;
}
#section1 {
    padding-top: 110px;
    margin: 0 210px 0 210px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#s1-col1 img {
    margin-top: 540px;
}
#col1-title {
    font-size: 140px;
}
#col1-p1 {
    font-size: 70px;
    white-space: nowrap;
}
#col1-p2 {
    margin-top: 20px;
    font-size: 20px;
}
#col1-links {
    margin-top: 40px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#col1-links a {
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
}
#link1 {
    background-color: rgb(0, 0, 0);
    color: white;
}
#link1:hover {
    transform: scale(1.05);
    transition: 0.3s ease
}
#link2 {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#link2:hover {
    transform: scale(1.05);
    transition: 0.3s ease
}
#s1-col2 {
    padding-top: 130px;
    display: grid;
    justify-items: center;
    border-radius: 4px;
}
#col2-p1 {
    font-size: 27px;
}
#s1-col2-img1 {
    height: 600px;
    width: 515px;
}
#s1-col1-img1, #s1-col2-img1 {
    border-radius: 4px;
}
#col2-h1{
    padding-top: 220px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}





#section2 {
    margin: 10px 210px ;
}
#ministerios h1 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    padding-top: 109px;
    margin-bottom: 30px;
}
#ministerios p {
    font-size: 27px;
    text-align: center;
}
.p-ministerios {
    margin-bottom: 40px;
    font-size: 27px;
    margin-bottom: 200px;
}
#container-kids {
    margin-top: 140px;
    display: flex;
    gap: 165px;
}
#col1-kids img {
    height: 606px;
    min-width: 590px;
    border-radius: 4px;
}
#col2-kids h1 {
    text-align: center;
    margin-bottom: 20px;
}
#col2-kids {
    margin-top: 230px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-xtreme {
    display: flex;
    gap: 165px;
}
#col1-xtreme {
    margin-top: 150px;
    margin-bottom: 155px;
}
#col1-xtreme h1{
    text-align: center;
    margin-bottom: 20px;
}
#col1-xtreme p{
    margin-bottom: 100px;
    font-size: 27px;
}
#col2-xtreme img {
    width: 630px;
    border-radius: 4px;
}
#container-impact {
    display: flex;
    flex-direction: row;
    gap: 165px;
}
#col1-impact img {
    height: 500px;
    width: 600px;
    border-radius: 4px;
}
#col2-impact {
    margin-top: 130px;
}
#col2-impact h1 {
    text-align: center;
    margin-bottom: 20px;
}
#section3 {
    margin: 40px 210px;
}
#projetos-sociais h1{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}
#projetos-sociais h2 {
    font-weight: 200;
    font-size: 27px;
    text-align: center;
}
@media screen and (max-width:906px){
    body {
        margin: 0;
        padding: 0;
    }
    
}